[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=true

Exec=/home/stan/DirectoryWatch/start.sh
Icon=/home/stan/DirectoryWatch/watch.jpg

Name=DirectoryWatch
Name[fr]=FichierSurveillant
